.card{
    background-color: #242424 !important;
    border-color: aqua !important;
}

.card:hover{
    transform: scale(1.1) !important;
    box-shadow: 0 0 30px #fff !important;
    transition: all 0.3s ease !important;
}